/* ==UserStyle==
@name           RYM Simple Tweaks
@namespace      https://github.com/924e50c0
@author         924e50c0
@version        0.0.5
@description    Tweaks for RYM. Works best with Night theme

@preprocessor   stylus

@var checkbox   useAccent           "accent color" 1
@var color      accentColor         " ↳ " #006ED1
@var text       fontFamily          "custom font" ProximaNova
@var checkbox   softBorders         "softer borders" 1
@var checkbox   hideBG              "hide custom backgrounds" 1
@var checkbox   genreColumns        "vote on genres: two columns" 1
@var checkbox   voteColor           " ↳ color vote type" 0
@var checkbox   genreLimit          " ↳ limit displayed users" 0
@var number     userWidth           "  ↳ max width" [248, 0, 2000]
@var checkbox   scrollableContent   "scrollable columns 🧪" 0
@var checkbox   customIcons         "color catalog icons" 1
@var number     colorbarSize        "album color bar separator size" [2, 1, 15]
@var checkbox   commonRadius        "unify border radiuses 🧪" 1
@var range      borderRadius        " ↳ " [3, 0, 10]
@var checkbox   rymFixes            "minor fixes" 1
@var checkbox   delHist             " ↳ remove play history artwork" 0
@var checkbox   onlyMissing         "  ↳ only when missing artwork" 0

==/UserStyle== */
@-moz-document domain("rateyourmusic.com"),
domain("rym.fm") {

    body {
        font-family: fontFamily, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }
    if rymFixes {
        div.review_header_img {
            background-color: unset !important;
        }

        html.theme_night {
            --neutral-dark-20: #353535;

            #content_cover {
                background: rgba(8, 8, 8, .6);
            }

            a.header_item:hover,
            a.header_mod_role:hover {
                background: rgba(128, 128, 128, .2);
            }
        }

        div.release_my_catalog .my_catalog_rating {
            height: 33.6px;
            display: flex;
            align-items: center;
        }

        div.profilesearch form[action="/misc/searchredir"] {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }

        .expand_button,
        a.expand_button,
        li.expand_button {
            margin-bottom: 0;
        }

        ul.issues li.release_view {
            margin-top: 0;
        }

        div.page_charts_section_charts_item_title > a.song {
            /* prevents date from being crushed & displayed vertically when song title is too long */
            max-width: 48ch
        }

        div.review_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            & div:last-child {
                display: none;
            }
            & div.review_sort,
            span.navspan {
                margin: 0
            }
        }

        if delHist {
            unless onlyMissing {
                div.play_history_artbox {
                    display: none;
                }
            }
            if onlyMissing {
                div.play_history_artbox:has(img[src="https://e.snmc.io/2.5/img/artwork_missing150x150.png"]) {
                    display: none;
                }
            }
        }
    }

    :root {
        if useAccent {
            accent-color: accentColor;
            --btn-primary-background-default: accentColor !important;
            --btn-primary-background-hover: darken(accentColor, 6) !important;
            --btn-expand-background-default: desaturate(darken(accentColor, 18), 62%) !important;
            /* inaccurate */
            --btn-expand-background-hover: desaturate(darken(accentColor, 14), 62%) !important;
            /* inaccurate */
            --btn-secondary-background-default: desaturate(lighten(accentColor, 18), 35%) !important;
            /* inaccurate */
            --btn-secondary-background-hover: desaturate(lighten(accentColor, 24), 35%) !important;
            /* inaccurate */
            --gen-blue-dark: lighten(accentColor, 35) !important;
            --gen-blue-darker: lighten(accentColor, 39) !important;
            --gen-blue-darkest: lighten(accentColor, 44) !important;
            --gen-blue-med: lighten(accentColor, 15) !important;
            --gen-blue-light: saturate(darken(accentColor, 27%), 0) !important;
            --gen-blue-lightest: saturate(darken(accentColor, 58%), 12%) !important;
            --gen-blue-neon: saturate(lighten(accentColor, 19), 60) !important;
            --link-text-default: lighten(accentColor, 35) !important;
            --link-text-hover: lighten(accentColor, 48) !important;
            --average-rating: linear-gradient(accentColor, lighten(accentColor, 35)) !important;
        }

        if softBorders {
            --ui-detail-neutral: var(--mono-e8) !important;
        }
    }

    if useAccent {
        a.sametitle:hover {
            color: saturate(lighten(accentColor, 20), 20) !important
        }

        #chart_div g > g:nth-child(2) > rect {
            fill: accentColor;
        }

        #chart_div g[clip-path*="url(https://rateyourmusic.com/"] > g:nth-child(2) > g rect:nth-child(1) {
            fill: accentColor;
        }
    }

    if softBorders {
        #chart_div g > g:nth-child(odd) > rect {
            fill: var(--ui-detail-neutral)
        }

        #chart_div2 g > g > rect {
            fill: var(--ui-detail-neutral)
        }
    }


    div.album_title ~ table.color_bar {
        height: (colorbarSize)px !important;

        & > tbody > tr {
            height: (colorbarSize)px !important;

            & > td {
                height: (colorbarSize)px !important;
            }
        }
    }

    if hideBG {
        body {
            background-image: unset !important;
        }
    }

    if genreColumns {
        table.mbgen.votingbox > tbody {
            form {
                margin: 5px;
            }

            #prigen,
            #secgen {
                font-size: 14px;
            }

            display: grid;
            grid-template-areas: "a c" "b d";

            & > tr:nth-child(1) {
                grid-area: a;

                & > td {
                    border-left: none
                }
            }

            & > tr:nth-child(2) {
                grid-area: b;

                & > td {
                    border-left: none
                }
            }

            & > tr:nth-child(3) {
                grid-area: c
            }

            & > tr:nth-child(4) {
                grid-area: d
            }

            td:last-child {
                border-right: none
            }
        }

        if voteColor {
            div:is([class="genrea"], [class="genred"]) span.small:nth-child(4) > b:first-child {
                color: var(--gen-bg-abs-darkgreen)
            }
            div:is([class="genrea"], [class="genred"]) span.small:nth-child(6) > b:first-child {
                color: var(--gen-text-red)
            }
        }
        if genreLimit {
            div:is([class="genrea"], [class="genred"]) span.small {
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: (userWidth)px;
                text-wrap: nowrap;
                display: inline-block;
            }
        }
    }

    if commonRadius {
        div.release_navigation_guidance {
            border-bottom: none;
        }

        ul.tracks,
        .catalog_date,
        .catalog_btn_options,
        .my_review,
        .my_catalog_tags .tag_dlg,
        div.prev_image img,
        div.next_image img,
        .ui_browser_input_frame {
            /* default: none */
            border-radius: (borderRadius)px;
        }

        .page_artist_songs_song:first-child,
        .page_object_discussion_thread:first-child {
            /* default: none */
            border-top-left-radius: (borderRadius)px;
            border-top-right-radius: (borderRadius)px;
        }

        .page_artist_songs_song:last-child,
        .page_object_discussion_thread:last-child {
            /* default: none */
            border-bottom-left-radius: (borderRadius)px;
            border-bottom-right-radius: (borderRadius)px;
        }

        .header_user_img,
        .my_catalog_rating,
        div.issue_img,
        .catalog_list span.navspan,
        .review_list,
        .review_header,
        .review_header_img,
        ul.credits,
        .btn.blue_btn,
        #add_to_list_lists,
        .comments_load,
        .comment_header,
        .comment_img,
        .comment_post_btn,
        .comment_post_add_btn,
        .comment_cancel_btn,
        .catalog_stats div.header,
        .catalog_header,
        .ui_button,
        div.comments,
        div.issue_no_img,
        .review_header_no_img,
        .btn,
        input[type="button"],
        input[type="submit"],
        input,
        select,
        textarea,
        .input_auto_resize_frame,
        .input_auto_resize_frame::after,
        .expand_button,
        a.expand_button,
        li.expand_button,
        .ui_button.button_expand,
        .disco_release,
        .disco_cat_inner_issue,
        .disco_cat_inner,
        .disco_expand_section_btn,
        .disco_search,
        .comment_no_img,
        ul.shows li,
        .component_discography_item_image img,
        .component_discography_item_image.no_image {
            /* default: 3 */
            border-radius: (borderRadius)px;
        }

        .catalog_header > div[style*="border-radius:"][style*="3px"] {
            /* default: 3 */
            border-radius: (borderRadius)px !important;
        }

        img.image_release,
        .catalog_btn,
        .format_btn,
        .review_save_btn,
        .review_btn,
        .track_rating_btn,
        .listening_btn,
        .notes_btn,
        .more_btn,
        .tag_btn,
        .bump_btn,
        .comments_post {
            /* default: 4 */
            border-radius: (borderRadius)px;
        }

        ul.issues,
        ul.lists,
        ul.lists li,
        .youtube_img,
        .youtube_playbutton,
        ul.suggestions,
        ul.issues li.release_view,
        div.release_navigation_links,
        .page_charts_settings_summary,
        .page_charts_section_charts_version_selector,
        div.list_image,
        .page_genre_index_hierarchy_item_collage img {
            /* default: 5 */
            border-radius: (borderRadius)px;
        }

        .page_charts_section_charts_item,
        .profile_listening_container {
            /* default: 6 */
            border-radius: (borderRadius)px;
        }

        .musictoolbar a {
            /* default: .2rem */
            border-radius: (borderRadius)px;
        }

        .page_chart_query_item,
        .listportal_item_profilepic,
        .listportal_item_art {
            /* default: .3rem */
            border-radius: (borderRadius)px;
        }

        .page_section_share a.shortcut_link_btn {
            /* default: .33rem */
            border-radius: (borderRadius)px;
        }

        .ui_media_link_btn {
            /* default: .4em */
            border-radius: (borderRadius)px;
        }

        .page_genre_index_hierarchy_item_main {
            /* default: 1em */
            border-radius: (borderRadius)px;
        }

        .page_charts_section_scope_item {
            /* default: 1.5em */
            border-radius: (borderRadius)px;
        }

        .ui_pagination_number {
            /* default: 3em */
            border-radius: (borderRadius)px;
        }

        .ui_button.btn_page_charts_common_charts {
            /* default: 4.125em */
            border-radius: (borderRadius)px;
        }

        .ui_search {
            /* default: 25px */
            border-radius: (borderRadius)px;
        }
        .disco_cat,
        .rating_info_ratings {
            /* default: 3 */
            border-top-left-radius: (borderRadius)px;
            border-bottom-left-radius: (borderRadius)px;
        }
        .disco_expandissues,
        .rating_info_track_ratings {
            /* default: 3 */
            border-top-right-radius: (borderRadius)px;
            border-bottom-right-radius: (borderRadius)px;
        }

        ul.tracks li:first-child {
            /* default: 5 */
            border-top-left-radius: (borderRadius)px;
            border-top-right-radius: (borderRadius)px;
        }

        ul.tracks li:last-child {
            /* default: 5 */
            border-bottom-left-radius: (borderRadius)px;
            border-bottom-right-radius: (borderRadius)px;
        }
    }

    if scrollableContent {
        div.row {
            max-height: 100vh;
            padding-right: 5px;

            & div#column_container_left {
                overflow: scroll;
                max-height: 95vh;
            }

            & div#column_container_right {
                overflow: scroll;
                max-height: 98vh;
            }
        }
    }

    if customIcons {
        [class*="my_catalog"]:not([class*="format"]):not([class*="bump"]) {
            & > :is([id*="_btn"], [class*="_btn"]) {
                background-image: unset;

                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 2.2em;
                    aspect-ratio: 1/1;
                    mask-size: cover;
                    background-color: currentColor;
                }
            }

            .catalog_btn::before {
                mask-image: url(https://e.snmc.io/2.5/img/line_icon_catalog.png);
                top: 3.5px;
                left: 4px;
            }

            .listening_btn::before {
                mask-image: url(https://e.snmc.io/2.5/img/line_icon_listening.png);
                width: 2.3em !important;
                top: 3px;
                left: 4px;
            }

            .tag_btn::before {
                mask-image: url(https://e.snmc.io/2.5/img/line_icon_tag.png);
                top: 4px;
                left: 3px;
            }

            .review_btn::before {
                mask-image: url(https://e.snmc.io/2.5/img/line_icon_review.png);
                top: 4px;
                left: 3px;
            }

            .track_rating_btn::before {
                mask-image: url(https://e.snmc.io/2.5/img/line_icon_trackrating.png);
                top: 4px;
                left: 4px;
            }
        }
    }
}
